button {
  display: inline-flex;
  padding: 0 12px;
  height: 40px;
  border: 1px solid;
  border-radius: 6px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

button.btn-default {
  color: #ffffff;
  background-color: royalblue;
  border-color: royalblue;
}

button.btn-gray {
  color: #6d6d6d;
  background-color: #ebebeb;
  border-color: #ebebeb;
}

button.btn-add {
  align-items: center;
  justify-content: center;
  width: 100%;
  color: royalblue;
  background-color: #ffffff;
  border-color: #ffffff;
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.2);
}

button.btn-add:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}

button.btn-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.35s ease;
}

button.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: royalblue;
  background: #ffffff;
  border-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.35s ease;
}

button.btn-circle:hover {
  box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.05);
}
