.flowchart-editor {
  position: relative;
  height: 100%;
}

.flowchart-container {
  z-index: 1;
  height: 100%;
}

.flowchart-container > svg {
  height: 100%;
}

.flowchart-container > svg > g {
  transform: translateX(60px);
}

.flowchart-container > svg > g > path {
  stroke: royalblue !important;
}

.flowchart-container .flowchart-node {
  width: 200px;
  height: auto;
  min-height: 80px;
  border-radius: 6px;
}

.flowchart-container .flowchart-node.selected {
  box-shadow: 0 0 0 2px royalblue;
}

.flowchart-container .flowchart-node .node-input,
.flowchart-container .flowchart-node .node-output {
  color: royalblue;
}

.flowchart-container .flowchart-node .node-input:hover,
.flowchart-container .flowchart-node .node-output:hover {
  background-color: royalblue;
  border-color: royalblue;
}

.flowchart-container .flowchart-node .node-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flowchart-container .flowchart-node .node-main .node-type {
  text-transform: capitalize;
  background-color: royalblue;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.flowchart-container .flowchart-node .node-main .node-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100%;
}

.flowchart-container .flowchart-node .node-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 16px;
  color: royalblue;
  border-color: royalblue;
}
