input,
select {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  display: inline-flex;
  flex-shrink: 0;
  padding: 0 8px;
  height: 40px;
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  outline: none;
  transition: all 0.35s ease;
}

textarea {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  display: inline-flex;
  flex-shrink: 0;
  padding: 8px;
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  outline: none;
  overflow: auto;
  resize: none;
  transition: all 0.35s ease;
}

input:hover,
select:hover,
textarea:hover {
  border-color: #cccccc !important;
}

input:focus,
select:focus,
textarea:focus {
  border-color: royalblue !important;
}

.input-error {
  border-color: red !important;
}