.side-editor {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 20px;
  margin: 20px;
  padding: 20px;
  height: calc(100% - 40px);
  background-color: #fff;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
}

.types-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
}

.types-selector .type-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.types-selector .type-block:hover {
  color: royalblue;
}

.types-selector .type-block:not(:last-child) {
  margin-bottom: 30px;
}

.types-selector .type-block > span {
  margin-top: 10px;
  text-align: center;
  text-transform: capitalize;
}

.node-editor {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 100%;
}

.node-editor .type {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.node-editor .type > svg {
  margin-right: 8px;
  color: royalblue;
}

.node-editor .button-row {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.node-editor .button-row > button:not(:last-child) {
  margin-right: 8px;
}

.node-editor > label {
  margin-top: 16px;
  font-size: 14px;
  color: #6d6d6d;
}

.node-editor > input,
.node-editor > select {
  margin-top: 5px;
}

.node-editor .content-area {
  position: relative;
  z-index: 1;
  margin-top: 5px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 6px;
}

.node-editor .content-area.content-area-p0 {
  padding: 0;
}

.node-editor .content-editor {
  position: relative;
  margin-bottom: 5px;
}

.node-editor .content-editor label {
  margin-top: 12px;
  font-size: 12px;
  color: #6d6d6d;
}

.node-editor .content-editor textarea {
  position: relative;
  z-index: 1;
}

.node-editor .content-editor .btn-delete {
  position: absolute;
  z-index: 2;
  bottom: 8px;
  right: 8px;
}

.node-editor .content-editor:hover .btn-delete {
  opacity: 1;
}

.node-editor .reply-editor {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.node-editor .reply-editor .reply-pill {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #ffffff;
  border: 1px solid royalblue;
  border-radius: 50px;
  overflow: hidden;
}

.node-editor .reply-editor .pill-error {
  border-color: red;
}

.node-editor .reply-editor .reply-pill input {
  border: none;
}

.node-editor .reply-editor .reply-pill .btn-delete {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}

.node-editor .reply-editor .reply-pill:hover .btn-delete {
  opacity: 1;
}

.node-editor .cards-scroller-ui {
  position: relative;
}

.node-editor .cards-scroller-ui .btn-prev-card {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
}

.node-editor .cards-scroller-ui .btn-next-card {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
}

.node-editor .cards-scroller-ui .card-placeholder {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 54px;
  height: 454px;
  background-color: #fdfdfd;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.03);
  opacity: 0;
  transition: opacity 0.35s ease;
}

.node-editor .cards-scroller-ui .card-placeholder.is-show {
  opacity: 1;
}

.node-editor .cards-scroller {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  scroll-snap-type: x mandatory;
  scroll-padding: 15px;
  scroll-behavior: smooth;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.node-editor .cards-scroller::-webkit-scrollbar {
  display: none;
}

.node-editor .cta-card-wrapper {
  margin: 30px 15px 30px 0;
  scroll-snap-align: center;
}

.node-editor .cta-card-wrapper:first-child {
  margin-left: 67px;
}

.node-editor .cta-card-wrapper:last-child {
  padding-right: 67px;
}

.node-editor .cta-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 300px;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
  opacity: 0.5;
  pointer-events: none;
}

.node-editor .cta-card.card-active {
  opacity: 1;
  pointer-events: auto;
}

.node-editor .cta-card > .btn-delete {
  position: absolute;
  z-index: 2;
  top: -10px;
  right: -10px;
  background-color: #fff;
}

.node-editor .cta-card:hover > .btn-delete {
  opacity: 1;
}

.node-editor .cta-card .card-img {
  position: relative;
  z-index: 1;
  height: 150px;
  background-color: #ebebeb;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}

.node-editor .cta-card .card-img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.node-editor .cta-card input,
.node-editor .cta-card textarea {
  border-color: transparent;
}

.node-editor .cta-card .card-body input,
.node-editor .cta-card .card-body textarea {
  margin-bottom: 8px;
}

.node-editor .cta-card .card-body {
  padding: 15px;
}

.node-editor .cta-card .card-actions {
  border-top: 1px solid #ebebeb;
}

.node-editor .cta-card .card-actions input {
  text-align: center;
}

.node-editor .cta-card .card-actions .card-button {
  position: relative;
  padding: 2px 60px;
  border-bottom: 1px solid #ebebeb;
}

.node-editor .cta-card .card-actions .card-button .btn-delete {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.node-editor .cta-card .card-actions .card-button:hover .btn-delete {
  opacity: 1;
}

.node-editor .cta-card .card-actions .card-add-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  width: 100%;
  height: 40px;
  color: royalblue;
  background-color: white;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.node-editor .cta-card .card-actions .card-add-cta:hover {
  background-color: #ebebeb;
}
