<template>
  <div id="app">
    <div class="flowchart-editor">
      <!-- Flowchart -->
      <simple-flowchart
        :scene.sync="flowchartData"
        @nodeClick="onClickNode"
        @nodeDelete="onDeleteNode"
      ></simple-flowchart>

      <!-- Editor -->
      <div class="side-editor">
        <div v-if="!editNode" class="types-selector">
          <div
            class="type-block"
            v-for="type in nodeTypes"
            :key="type.name"
            @click="addNode(type)"
          >
            <font-awesome-icon :icon="icons[type.name]" size="2x" />
            <span>{{ type.name }}</span>
          </div>
        </div>
        <div v-else class="node-editor">
          <div class="type">
            <font-awesome-icon :icon="icons[editNode.type]" size="2x" />
            {{ editNode.type }}
          </div>
          <label for="title">Action</label>
          <input
            id="title"
            name="title"
            type="text"
            placeholder="Action name"
            autocomplete="off"
            v-model.trim="editNode.label"
            @focus="clearError(errors.LABEL)"
            :class="{
              'input-error': editNode.errors.indexOf(errors.LABEL) > -1
            }"
          />
          <template v-if="editNode.content">
            <label>Content</label>
            <div
              class="content-area"
              :class="{
                'content-area-p0': editNode.type === types.RICH_MEDIA_CARD
              }"
            >
              <template v-if="editNode.type === types.SIMPLE_RESPONSE">
                <div
                  v-for="(content, index) in editNode.content"
                  :key="content.id"
                  class="content-editor"
                >
                  <textarea
                    rows="4"
                    placeholder="Type in a message that will be sent to visitor..."
                    v-model.trim="content.message"
                    @focus="clearError(errors.MESSAGE)"
                    :class="{
                      'input-error':
                        editNode.errors.indexOf(errors.MESSAGE) > -1
                    }"
                  ></textarea>
                  <button
                    v-if="index != 0 || editNode.content.length > 1"
                    class="btn-delete btn-gray"
                    @click="deleteContent(editNode.type, index)"
                  >
                    <font-awesome-icon icon="trash" />
                  </button>
                </div>
                <button class="btn-add" @click="addContent(editNode.type)">
                  <font-awesome-icon icon="plus-circle" size="2x" />
                </button>
              </template>

              <template v-if="editNode.type === types.QUESTION">
                <div class="content-editor">
                  <label for="questionContent">Question</label>
                  <textarea
                    id="questionContent"
                    name="questionContent"
                    rows="4"
                    placeholder="What would you like to ask?"
                    v-model.trim="editNode.content.message"
                    @focus="clearError(errors.MESSAGE)"
                    :class="{
                      'input-error':
                        editNode.errors.indexOf(errors.MESSAGE) > -1
                    }"
                  ></textarea>
                  <label for="answerValidator">Validation</label>
                  <select
                    id="answerValidator"
                    name="answerValidator"
                    v-model.trim="editNode.content.validator"
                  >
                    <option
                      v-for="validator in validators"
                      :key="validator.name"
                      :value="validator.value"
                      >{{ validator.name }}</option
                    >
                  </select>
                </div>
              </template>

              <template v-if="editNode.type === types.QUICK_REPLIES">
                <div class="content-editor">
                  <textarea
                    rows="4"
                    placeholder="Type in a message that will be sent to visitor..."
                    v-model.trim="editNode.content.message"
                    @focus="clearError(errors.MESSAGE)"
                    :class="{
                      'input-error':
                        editNode.errors.indexOf(errors.MESSAGE) > -1
                    }"
                  ></textarea>
                </div>
                <div class="reply-editor">
                  <div
                    v-for="(reply, index) in editNode.content.replies"
                    :key="reply.id"
                    class="reply-pill"
                    :class="{
                      'pill-error': editNode.errors.indexOf(errors.REPLIES) > -1
                    }"
                  >
                    <input
                      type="text"
                      placeholder="Type in a quick reply"
                      v-model.trim="reply.text"
                      @focus="clearError(errors.REPLIES)"
                    />
                    <button
                      v-if="index != 0 || editNode.content.replies.length > 1"
                      class="btn-delete btn-gray"
                      @click="deleteContent(editNode.type, index)"
                    >
                      <font-awesome-icon icon="trash" />
                    </button>
                  </div>
                  <button class="btn-add" @click="addContent(editNode.type)">
                    <span>
                      <font-awesome-icon icon="plus" /> Add quick reply
                    </span>
                  </button>
                </div>
              </template>

              <template v-if="editNode.type === types.RICH_MEDIA_CARD">
                <div class="cards-scroller-ui">
                  <button
                    v-if="activeCardIdx > 0"
                    class="btn-circle btn-prev-card"
                    @click="prevCard"
                  >
                    <font-awesome-icon icon="chevron-left" />
                  </button>
                  <button
                    v-if="activeCardIdx < editNode.content.length - 1"
                    class="btn-circle btn-next-card"
                    @click="nextCard"
                  >
                    <font-awesome-icon icon="chevron-right" />
                  </button>
                  <button
                    v-if="activeCardIdx === editNode.content.length - 1"
                    class="btn-circle btn-next-card"
                    @click="addContent(editNode.type)"
                  >
                    <font-awesome-icon icon="plus" />
                  </button>
                  <div
                    class="card-placeholder"
                    :class="{
                      'is-show': activeCardIdx === editNode.content.length - 1
                    }"
                  ></div>
                  <div class="cards-scroller">
                    <div
                      v-for="(card, cardIdx) in editNode.content"
                      :key="card.id"
                      class="cta-card-wrapper"
                    >
                      <div
                        class="cta-card"
                        :class="{ 'card-active': activeCardIdx === cardIdx }"
                      >
                        <button
                          v-if="cardIdx != 0 || editNode.content.length > 1"
                          class="btn-delete btn-gray"
                          @click="deleteContent(editNode.type, cardIdx)"
                        >
                          <font-awesome-icon icon="times" />
                        </button>
                        <div class="card-img">
                          <img v-if="card.img" :src="card.img" />
                          <div v-else></div>
                        </div>
                        <div class="card-body">
                          <input
                            type="text"
                            v-model.trim="card.title"
                            placeholder="Title"
                            @focus="clearError(errors.TITLE, card.id)"
                            :class="{
                              'input-error':
                                editNode.errors[card.id] &&
                                editNode.errors[card.id].indexOf(errors.TITLE) >
                                  -1
                            }"
                          />
                          <textarea
                            rows="4"
                            v-model.trim="card.message"
                            placeholder="Type in a message that will be sent to visitor..."
                          ></textarea>
                          <input
                            type="text"
                            v-model.trim="card.url"
                            placeholder="URL"
                          />
                        </div>
                        <div class="card-actions">
                          <div
                            v-for="(button, buttonIdx) in card.buttons"
                            :key="button.id"
                            class="card-button"
                          >
                            <input
                              type="text"
                              placeholder="Type in a button name"
                              v-model.trim="button.text"
                              @focus="clearError(errors.CTA, card.id)"
                              :class="{
                                'input-error':
                                  editNode.errors[card.id] &&
                                  editNode.errors[card.id].indexOf(errors.CTA) >
                                    -1
                              }"
                            />
                            <button
                              v-if="buttonIdx != 0 || card.buttons.length > 1"
                              class="btn-delete btn-gray"
                              @click="deleteCTA(cardIdx, buttonIdx)"
                            >
                              <font-awesome-icon icon="trash" />
                            </button>
                          </div>
                          <button
                            v-if="card.buttons.length < 3"
                            class="card-add-cta"
                            @click="addCTA(cardIdx)"
                          >
                            <span>
                              <font-awesome-icon icon="plus" /> Add button
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </template>
          <div class="button-row">
            <button class="btn-default" @click="onUpdateNode">
              Save
            </button>
            <button class="btn-gray" @click="resetState">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SimpleFlowchart from "vue-simple-flowchart";
import "vue-simple-flowchart/dist/vue-flowchart.css";

const types = {
  TRIGGER: "trigger",
  SIMPLE_RESPONSE: "simple response",
  QUESTION: "question",
  QUICK_REPLIES: "quick replies",
  RICH_MEDIA_CARD: "rich media card"
};

const errors = {
  LABEL: "label",
  MESSAGE: "message",
  REPLIES: "replies",
  TITLE: "title",
  CTA: "cta"
};

export default {
  name: "App",
  components: {
    SimpleFlowchart
  },
  data() {
    return {
      flowchartData: {
        centerX: 1024,
        centerY: 140,
        scale: 1,
        nodes: [
          // Starting point
          {
            id: 0,
            x: -512,
            y: -69,
            type: types.TRIGGER,
            label: "Visitor clicks the bots button",
            content: null
          }
        ],
        links: []
      },
      types: {},
      icons: {
        [types.TRIGGER]: ["far", "comments"],
        [types.SIMPLE_RESPONSE]: ["far", "comment-dots"],
        [types.QUESTION]: ["far", "question-circle"],
        [types.QUICK_REPLIES]: ["fas", "ellipsis-h"],
        [types.RICH_MEDIA_CARD]: ["far", "image"]
      },
      defaultContent: {
        [types.SIMPLE_RESPONSE]: [
          {
            id: "message-0",
            message: ""
          }
        ],
        [types.QUESTION]: {
          id: "question-0",
          message: "",
          validator: ""
        },
        [types.QUICK_REPLIES]: {
          id: "quick-replies-0",
          message: "",
          replies: [
            {
              id: "reply-0",
              text: ""
            }
          ]
        },
        [types.RICH_MEDIA_CARD]: [
          {
            id: "rich-media-0",
            title: "",
            message: "",
            url: "",
            img: "",
            buttons: [
              {
                id: "cta-0",
                text: ""
              }
            ]
          }
        ]
      },
      nodeTypes: [
        {
          name: types.SIMPLE_RESPONSE,
          title: "Send a chat message"
        },
        {
          name: types.QUESTION,
          title: "Ask a question"
        },
        {
          name: types.QUICK_REPLIES,
          title: "Decision (Quick Replies)"
        },
        {
          name: types.RICH_MEDIA_CARD,
          title: "Decision (Card Messages)"
        }
      ],
      validators: [
        { name: "None", value: "" },
        { name: "Name", value: "Name" },
        { name: "Email", value: "Email" },
        { name: "Number", value: "Number" },
        { name: "Phone Number", value: "Phone Number" },
        { name: "Website", value: "Website" }
      ],
      errors: {},
      lastTouchNode: null,
      defaultPosition: { x: -128, y: 200 },
      editNode: null,
      activeCardIdx: 0
    };
  },
  created() {
    this.types = types;
    this.errors = errors;
  },
  methods: {
    addNode({ name: type, title: label }) {
      const { x, y } = this.defaultPosition;
      this.flowchartData.nodes.push({
        id: this.getId(),
        x,
        y,
        type,
        label,
        content: this.deepClone(this.defaultContent[type])
      });
    },
    onClickNode(id) {
      const node = this.flowchartData.nodes.find(n => n.id === id);
      if (
        !this.editNode &&
        this.lastTouchNode &&
        node.id === this.lastTouchNode.id &&
        node.x === this.lastTouchNode.x &&
        node.y === this.lastTouchNode.y
      ) {
        // Only click on node
        this.editNode = this.deepClone({ ...node, errors: [] });
        if (this.editNode.type === types.RICH_MEDIA_CARD) {
          this.activeCardIdx = 0;
        }
      } else {
        // Click & Drag node
        this.lastTouchNode = { id, x: node.x, y: node.y };
      }
    },
    onUpdateNode() {
      this.editNode.content = this.cleanNode(
        this.editNode.type,
        this.editNode.content
      );
      this.editNode.errors = this.validateNode(this.editNode);
      if (!Object.keys(this.editNode.errors).length) {
        const target = this.flowchartData.nodes.findIndex(
          n => n.id === this.editNode.id
        );
        this.flowchartData.nodes.splice(target, 1, this.editNode);
        this.resetState();
      }
    },
    cleanNode(type, content) {
      if (type === types.SIMPLE_RESPONSE) {
        const cleanMessages = content.filter(c => !!c.message);
        return cleanMessages.length
          ? cleanMessages
          : this.deepClone(this.defaultContent[type]);
      } else if (type === types.QUICK_REPLIES) {
        const { replies, ...rest } = content;
        const cleanReplies = replies.filter(r => !!r.text);
        return {
          ...rest,
          replies: cleanReplies.length
            ? cleanReplies
            : this.deepClone(this.defaultContent[type].replies)
        };
      } else if (type === types.RICH_MEDIA_CARD) {
        const cleanCards = content.filter(
          c =>
            !!c.title ||
            !!c.img ||
            !!c.message ||
            !!c.url ||
            c.buttons.some(btn => !!btn.text)
        );
        const cards = cleanCards.length
          ? cleanCards
          : this.deepClone(this.defaultContent[type]);
        cards.forEach(card => {
          const { buttons } = card;
          const cleanButtons = buttons.filter(btn => !!btn.text);
          card.buttons = cleanButtons.length
            ? cleanButtons
            : this.deepClone(this.defaultContent[type][0].buttons);
        });
        return cards;
      }
      return content;
    },
    validateNode({ type, label, content }) {
      const error = [];
      if (!label) {
        error.push(errors.LABEL);
      }
      if (type === types.SIMPLE_RESPONSE) {
        if (content.some(c => !c.message)) {
          error.push(errors.MESSAGE);
        }
      } else if (type === types.QUESTION) {
        if (!content.message) {
          error.push(errors.MESSAGE);
        }
      } else if (type === types.QUICK_REPLIES) {
        if (!content.message) {
          error.push(errors.MESSAGE);
        }
        if (content.replies.some(r => !r.text)) {
          error.push(errors.REPLIES);
        }
      } else if (type === types.RICH_MEDIA_CARD) {
        let firstErrorCardIdx = -1;
        content.forEach(({ id, title, buttons }, index) => {
          const cardErrors = [];
          if (!title) {
            cardErrors.push(errors.TITLE);
          }
          if (buttons.some(b => !b.text)) {
            cardErrors.push(errors.CTA);
          }
          if (cardErrors.length) {
            error[id] = cardErrors;
            if (firstErrorCardIdx < 0) {
              firstErrorCardIdx = index;
            }
          } else {
            delete error[id];
          }
        });
        this.activeCardIdx = firstErrorCardIdx;
        this.scrollToCard(this.activeCardIdx, this.editNode.content.length);
      }
      return error;
    },
    clearError(error, id = "") {
      if (!id) {
        if (this.editNode.errors) {
          const target = this.editNode.errors.findIndex(e => e === error);
          if (target > -1) {
            this.editNode.errors.splice(target, 1);
          }
        }
      } else {
        // For type === types.RICH_MEDIA_CARD
        if (this.editNode.errors && this.editNode.errors[id]) {
          const target = this.editNode.errors[id].findIndex(e => e === error);
          if (target > -1) {
            this.editNode.errors[id].splice(target, 1);
          }
        }
      }
    },
    onDeleteNode() {
      this.resetState();
    },
    resetState() {
      this.editNode = null;
      this.lastTouchNode = null;
    },
    addContent(type) {
      if (type === types.SIMPLE_RESPONSE) {
        const content = this.deepClone(this.defaultContent[type]);
        this.editNode.content.push({
          ...content[0],
          id: this.getId("message")
        });
      } else if (type === types.QUICK_REPLIES) {
        this.editNode.content.replies.push({
          id: this.getId("reply"),
          text: ""
        });
      } else if (type === types.RICH_MEDIA_CARD) {
        const content = this.deepClone(this.defaultContent[type]);
        this.editNode.content.push({
          ...content[0],
          id: this.getId("card")
        });
        this.nextCard();
      }
    },
    deleteContent(type, idx) {
      if (type === types.SIMPLE_RESPONSE) {
        this.editNode.content.splice(idx, 1);
      } else if (type === types.QUICK_REPLIES) {
        this.editNode.content.replies.splice(idx, 1);
      } else if (type === types.RICH_MEDIA_CARD) {
        this.editNode.content.splice(idx, 1);
        this.prevCard();
      }
    },
    addCTA(cardIdx) {
      if (this.editNode.content[cardIdx].buttons.length < 3) {
        this.editNode.content[cardIdx].buttons.push({
          id: this.getId("cta"),
          text: ""
        });
      }
    },
    deleteCTA(cardIdx, buttonIdx) {
      this.editNode.content[cardIdx].buttons.splice(buttonIdx, 1);
    },
    prevCard() {
      this.activeCardIdx--;
      if (this.activeCardIdx < 0) {
        this.activeCardIdx = 0;
      }
      this.scrollToCard(this.activeCardIdx, this.editNode.content.length);
    },
    nextCard() {
      this.activeCardIdx++;
      this.scrollToCard(this.activeCardIdx, this.editNode.content.length);
    },
    scrollToCard(idx, total) {
      const scroller = document.querySelector(".cards-scroller");
      this.$nextTick(() => {
        scroller.scrollTo({
          left: Math.floor(scroller.scrollWidth * (idx / total))
        });
      });
    },
    getId(type) {
      if (type) {
        return `${type}-${new Date().getTime()}`;
      }
      return new Date().getTime();
    },
    deepClone(item) {
      return JSON.parse(JSON.stringify(item));
    }
  }
};
</script>

<style>
@import "./assets/css/app.css";
@import "./assets/css/custom-flowchart.css";
@import "./assets/css/button.css";
@import "./assets/css/form.css";
@import "./assets/css/side-editor.css";
</style>
